# OS x
.AppleDouble
.DS_Store

# build
docs/
dist/

# gedit
*~

# js
node_modules/

# python
*.pyc

# windows
*.db
*.bak

# java
target
.settings
.classpath
.project

# chrome
*.crx
*.zip

# json
*.jsonc
